<!DOCtype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf_8" />

		<title>良辰美景 | {{ page.title }}</title>

		<meta name="author" content="Xiaocao" />
		<meta name="keywords" content="良辰美景,小曹,小曹8023娃娃,鲁西南大安庄,web前端,html,css,javascript,w3c,Linux,数据结构,算法" />
		<meta name="description" content="为了纪念一个人 | Desert Remember" />

		<link rel="shortcut icon" href=favicon.ico" />
		<link rel="stylesheet" type="text/css" href="./style/index.css" />
	</head>
<body>
	<div class="nav">
		<ul>	
			<li><a href="./about.html" title="About Lcmj">About</a></li>
			<li><a href="./code.html" title="My Codes">Code</a></li>
			<li><a href="http://Blog.Xiaocao8023.com/" title="My Blogs">Blog</a></li>
			<li><a href="./index.html" title="Index of">Index</a></li>
		</ul>
	</div>
	<div class="logo">
		<a href="./index.html"><img src="./images/logo.png" width="80px" height="80px;" alt="良辰美景" /></a>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
		<p>&copy;&nbsp;2012&nbsp;&nbsp;<a href="./about.html" title="关于良辰美景">良辰美景</a></p>
	</div>
</body>

</html>